// functions
@function hexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

// variables
$cc-main-color: #000000 !default;
$cc-secondary-color: #4e4e4e !default;
$cc-text-color: #ffffff !default;
$cc-button-bg-color: #018587 !default;
$cc-button-text-color: #ffffff !default;
$cc-button-bg-color-hover: #4e4e4e !default;
$cc-button-text-color-hover: #ffffff !default;

/*
:root {
	--cc-main-color: #{$cc-main-color};
	--cc-secondary-color: #{$cc-secondary-color};
	--cc-text-color: #{$cc-text-color};
	--cc-button-bg-color: #{$cc-button-bg-color};
	--cc-button-text-color: #{$cc-button-text-color};
	--cc-button-bg-color-hover: #{$cc-button-bg-color-hover};
	--cc-button-text-color-hover: #{$cc-button-text-color-hover};
}
*/
